{% extends 'base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="../static/styles/add.css">
{% endblock %}
{% block content %}
    <section class="container is-narrow">

        <h1 class="title is-1-desktop is-2-tablet is-3-mobile">
            {% if edit-cotact %}
                Muuda kontakti
            {% else %}
                Lisa uus kontakt
            {% endif %}
        </h1>
        {% if error %}
            <div class="notification is-danger" id="error-block">
                <button class="delete" id="closeErrorMsg"></button>
                <p>Eesnimi peab olema <strong>2 </strong> kuni <strong>50 </strong>märki!</p>
                <p>Perekonnanimi peab olema <strong>2 </strong>kuni <strong>50</strong> märki!</p>
            </div>
        {% endif %}
        <form action="?cmd=save-user" method="post">
            <input type="hidden" name="contactId" value="{{ id }}">
            <label for="firstName">Eesnimi</label>
            <input class="input" name="firstName" id="firstName" placeholder="Sinu eesnimi"
                   value="{{ contact.getFirstName }}">
            <label for="lastName">Perenimi</label>
            <input class="input" name="lastName" id="lastName" placeholder="Sinu perenimi"
                   value="{{ contact.getLastName }}">
            <input type="hidden" name="phoneId1" value="{{ contact.phoneNumbers[0].getPhoneId }}">
            <label for="phone1">Number 1</label>
            <input class="input" name="phone1" id="phone1" placeholder="Sinu number"
                   value="{{ contact.phoneNumbers[0] }}">
            <input type="hidden" name="phoneId2" value="{{ contact.phoneNumbers[1].getPhoneId }}">
            <label for="phone2">Number 2</label>
            <input class="input" name="phone2" id="phone2" placeholder="Sinu number" value="{{ contact.phoneNumbers[1] }}">
            <input type="hidden" name="phoneId3" value="{{ contact.phoneNumbers[3].getPhoneId }}">
            <label for="phone3">Number 3</label>
            <input class="input" name="phone3" id="phone3" placeholder="Sinu number" value="{{ contact.phoneNumbers[2] }}">
            <input class="button is-primary " type="submit" value="Salvesta" name="submitButton">
        </form>
    </section>
{% endblock %}