<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - icd007</title>
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/list.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/styles/bulma.min.css">
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="nav-items">
            <li>
                <a href="?cmd=list-page" id="list-page-link">
                    Nimekiri
                </a>
            </li>
            <li>
                <a href="?cmd=add" id="add-page-link">
                    Lisa
                </a>
            </li>
        </ul>

    </nav>
</header>
<main id="content" class="container">
    {% block content %}{% endblock %}
</main>
<footer id="footer" class="footer">
    {% block footer %}
        &copy; Copyright by Tristan Krass
    {% endblock %}
</footer>
<script src="../js/main.js"></script>
</body>
</html>