{% extends "base.html.twig" %}
{% block content %}
    {% if message %}
        <div class="notification is-primary" id="info-message">
            {% if message == 'success' %}
                Lisatud!
            {% elseif message == 'updated' %}
                Uuendatud!
            {% endif %}
        </div>
    {% endif %}
    <h1 class="title is-1-desktop is-2-tablet is-3-mobile">
        {{ title }}
    </h1>
    <section class="container">
        <table>
            <tr>
                <th>
                    Eesnimi
                </th>
                <th>
                    Perenimi
                </th>
                <th>
                    Telefoni numbrid
                </th>
            </tr>
            {% for id, contact in contacts %}
                <tr>
                    <td>
                        <a href="?cmd=edit-contact&person_id={{ id }}">
                            {{ contact.getFirstName }}
                        </a>
                    </td>
                    <td>
                        {{ contact.getLastName }}
                    </td>
                    <td>
                        {{ contact.getPhoneNumbers }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}