form {
    max-width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100px 300px;
    grid-template-rows: repeat(3, 35px);
    grid-gap: 1rem;
    padding: 2rem;
}


form input[type="text"],
form input[type="tel"] {
    border: 1px solid black;
    border-radius: .24rem;
}

form input[type="submit"] {
    grid-column: 1 / 3;
    padding: 0.4em;
    width: 25%;
    color: #28a745;
    border: 1px solid #28a745;
    background-color: #fff;
    margin: .25rem auto;
    cursor: pointer;
    border-radius: .25rem;
}

form input[type="submit"]:hover {
    color: #28a745;
    border: 1px solid #28a745;
    color: #fff;
    background-color: #28a745;
}