@import "../vendor/normalize.css";

main {
    min-height: 80vh;
}

header {
    margin-right: 3rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-items a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #34495e;
    font-size: 1rem;
    text-decoration: none;
}

.nav-items a:hover {
    color: black;
}

.nav-items {
    display: flex;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.footer {
    text-align: center;
}
