table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid black;
} 


th{
  padding: 20px 15px;
  text-align: left;
  border: 1px solid black;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  border: 1px solid black;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}